<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <appender name="ConsoleAppender" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>
                %d{MM:dd HH:mm:ss.SSS} [%t] [%level] [%logger{36}] - %msg%n
            </pattern>
        </encoder>
    </appender>

    <appender name="RollingAppender" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <encoder class="ch.qos.logback.classic.encoder.PatternLayoutEncoder">
            <Pattern>%d{MM:dd HH:mm:ss.SSS} [%t] [%level] [%logger{36}] - %msg%n</Pattern>
        </encoder>
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <fileNamePattern>/log-dir/logging/vericash-api-gateway/vericash-api-gateway_%d{dd-MM-yyyy}.log</fileNamePattern>
<!--            <maxHistory>100</maxHistory>
            <totalSizeCap>1GB</totalSizeCap>-->
        </rollingPolicy>
    </appender>

    <root level="info">
        <appender-ref ref="ConsoleAppender"></appender-ref>
        <appender-ref ref="RollingAppender"></appender-ref>
    </root>
</configuration>